<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E25 Old Exam Year 1 Term 1 Final</title>
    {% include "head.html" %}
    {% include "oldexamscript.html" %}
</head>
<body class="dark bg-gray-50 dark:bg-gray-950 min-h-screen">
    {% include "nav.html" %}
    <div class="flex items-center justify-center space-x-4 mt-16">
        <h1 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">Old Exam Year 1 Term 1 Final</h1>
    </div>

    <script>
        function download_file() {
            const FileFrame = document.getElementById('FileFrame');
            var url = FileFrame.getAttribute('raw');
            var a = document.createElement('a');
            a.href = url;
            a.download = url;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        };
    </script>

    <div class="container mx-auto mt-8 overflow-x-auto shadow-md shadow-gray-400 dark:shadow-gray-800 hover:shadow-gray-500 dark:hover:shadow-gray-950">
        <table class="w-full border-collapse border border-gray-300 dark:border-gray-700">
            <thead>
                <tr class="border-x border border-gray-300 dark:border-gray-700 text-gray-900 dark:text-white">
                    <th class="px-5 py-3">Subject</th>
                    <th class="px-5 py-3">2010</th>
                    <th class="px-5 py-3">2011</th>
                    <th class="px-5 py-3">2012</th>
                    <th class="px-5 py-3">2013</th>
                    <th class="px-5 py-3">2014</th>
                    <th class="px-5 py-3">2015</th>
                    <th class="px-5 py-3">2016</th>
                    <th class="px-5 py-3">2017</th>
                    <th class="px-5 py-3">2018</th>
                    <th class="px-5 py-3">2019</th>
                    <th class="px-5 py-3">2020</th>
                    <th class="px-5 py-3">2021</th>
                    <th class="px-5 py-3">2022</th>
                    <th class="px-5 py-3">2023</th>
                    <th class="px-5 py-3">2024</th>
                    <th class="px-5 py-3">2025</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>
    <br><br>
    <div id="iframe-container" class="container mx-auto display-none">
        <h2 class="text-xl text-center font-bold mb-4 text-gray-800 dark:text-white flex flex-row items-center justify-center space-x-4">
            <spam class="flex flex-row items-center space-x-4">
                <h2 class="text-xl font-bold text-gray-800 dark:text-white" id="iframe-title"></h2>
            </spam>
            <a onclick="download_file();" class="items-center space-x-2 text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-400">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-8 h-8">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                    <polyline points="7 10 12 15 17 10"/>
                    <line x1="12" y1="15" x2="12" y2="3"/>
                </svg>
            </a>
        </h2>
        <iframe src="" frameborder="0" width="100%" height="" id="FileFrame" class="hidden md:hidden border border-gray-300 dark:border-gray-300"></iframe>
    </div>
    <script src="https://kmu-src.pisc.cc/script.min.js"></script>
    <script>
    window.addEventListener('scroll', function(event) {
        const navHeight = document.querySelector('nav').offsetHeight;
        const iframe = document.getElementById('FileFrame');
        const iframeContainer = document.getElementById('iframe-container');
        const rect = iframe.getBoundingClientRect();
        if (rect.top <= window.innerHeight - navHeight && rect.bottom >= 0) {
            iframe.style.height = `calc(100vh - ${navHeight}px)`;
            iframe.style.width = '100%';
            iframe.classList.remove('hidden');
        } else {
            iframe.style.height = '';
            iframe.style.width = '';
            iframe.classList.add('hidden');
        }
    });
    </script>
    <script>
        // fetch("https://api.github.com/repos/pisc639-kmu/kmutnb/contents/old-exam/1-1-f").then(a => a.json()).then(a => console.log(a))
        const SubjectsFull = [
            "Mathematics I",
            "Thai I",
            "Chemistry I",
            "Foundation English I",
            "Mechanics I",
            "Electrical Drawing I",
            "Electrical Materials and Calculation",
            "Electric Circuits I",
            "Health Education"
        ];
        const Subjects = [
            "Math",
            "Thai",
            "Chemistry",
            "English",
            "Physics",
            "Drawing",
            "Material",
            "Circuit",
            "Health"
        ];
        const tbody = document.getElementById("table-body");
        for (let i = 0; i < SubjectsFull.length; i++) {
            const row = document.createElement("tr");
            row.classList.add("bg-white", "dark:bg-gray-800", "hover:bg-gray-100", "dark:hover:bg-gray-700", "border-x", "border", "border-gray-300", "dark:border-gray-700", "text-gray-900", "dark:text-white");
            const subjectName = document.createElement("th");
            subjectName.classList.add("px-5", "py-3");
            subjectName.textContent = SubjectsFull[i];
            row.appendChild(subjectName);
            for (let j = 2010; j <= 2025; j++) {
                const column = document.createElement("th");
                column.classList.add("px-5", "py-3");
                row.appendChild(column);
            };
            tbody.appendChild(row);
        };
        function addFileButton(row, column, file, name) {
            console.log(row, column, file, name);
            var tbody = document.getElementById("table-body");
            var rowElement = tbody.children[row];
            var columnElement = rowElement.children[column + 1];
            var button = document.createElement("button");
            button.type = "button";
            button.classList.add("text-blue-600", "dark:text-blue-400", "hover:underline");
            // button.href = file;
            button.onclick = function() {
                openFile(file);
            };
            button.textContent = name;
            columnElement.appendChild(button);
        };
        function addFile(file) {
            var name = file.split(",")[0];
            var year = parseInt(name.split(" ")[1], 10);
            var subject = name.split(" ")[0];
            var row = parseInt(Subjects.indexOf(subject), 10);
            var column = year - 2010;
            if (year != 2024) {
                addFileButton(row, column, file, name);
            }
        };
        fetch("https://api.github.com/repos/pisc639-kmu/kmutnb/contents/old-exam/1-1-f").then(a => a.json()).then(files => {
            files.forEach(file => {
                if (file.name != "index.html") {
                    addFile(file.name);
                };
            });
        });
    </script>
</body>
</html>
