username.txt
utils
old-exam\1-2-m\Measurement 2022.pdf
old-exam\old\*
old-exam\res
old-unused-others
api
ignore
__pycache__
.vscode
storage
*.db
*.sqlite

#wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example

ignore