<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E25 EP - By Pisc</title>
    {% include "head.html" %}
</head>
<body class="dark bg-gray-50 dark:bg-gray-950 min-h-screen">
    {% include "nav.html" %}
    <!-- Test1 -->
    <div class="flex items-center justify-center space-x-4 mt-16">
        <h1 class="text-4xl font-bold mb-4 text-gray-800 dark:text-white">E25 Website</h1>
    </div>

    <div class="flex justify-center space-x-4 md:space-x-8 mt-4">
        <a href="/schedule/" class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Exam Schedule & Timetable</a>
        <a href="/old-exam/" class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Old Exam</a>
    </div>

    <!-- <script src="https://kmu.pisc.cc/script.js"></script> -->
    
</body>
</html>
