@import url('https://fonts.googleapis.com/css2?family=Itim:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=prompt:wght@300;500;700&display=swap');

body {
    font-family: 'Inter', 'prompt', 'Itim', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}
.dark {
    background-color: #1a202c;
    color: #e2e8f0;
}
.light {
    background-color: #f7fafc;
    color: #2d3748;
}
