<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CB Old Exam</title>
    {% include "head.html" %}
</head>
<body class="dark bg-white dark:bg-black min-h-screen">
    <div class="fixed inset-0 -z-10 bg-[url('https://i.pinimg.com/1200x/fd/b2/1c/fdb21c0e4f3dbb6ccd9a63c68fce8645.jpg')] bg-cover bg-center bg-no-repeat"></div>
    <div class="fixed inset-0 -z-10 backdrop-blur-3xl backdrop-brightness-[0.5] bg-black/10"></div>
    {% include "nav.html" %}
    <div class="flex items-center justify-center space-x-4 mt-8">
        <h1 class="text-4xl font-bold mb-4 text-gray-800 dark:text-white">Old Exam CB</h1>
    </div>
    
    <div class="grid grid-cols-1 gap-y-4 max-w-4xl mx-auto px-4 max-w-[500px]">
        <div class="grid grid-cols-2 gap-4 pt-4">
            <a href="1-1-m" class="bg-gradient-to-br from-blue-600 to-indigo-600 dark:from-blue-950 dark:to-indigo-900 hover:from-blue-700 hover:to-indigo-700 dark:hover:from-blue-900 dark:hover:to-indigo-800 text-white font-medium py-2 px-4 rounded-md border border-blue-500 duration-300 shadow-md shadow-blue-600/25 hover:shadow-lg hover:shadow-blue-700/40 dark:hover:shadow-blue-900/50 active:scale-[0.98] transition-all duration-200 hover:shadow-blue-500 text-center">Year 1 Term 1 Midterm</a>
            <a href="1-1-f" class="bg-neutral-600 hover:bg-neutral-700 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-white font-medium py-2 px-4 rounded-md border border-neutral-500 transition-colors duration-300 text-center">Year 1 Term 1 Final</a>
            <a href="1-2-m" class="bg-neutral-600 hover:bg-neutral-700 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-white font-medium py-2 px-4 rounded-md border border-neutral-500 transition-colors duration-300 text-center">Year 1 Term 2 Midterm</a>
            <a href="1-2-f" class="bg-neutral-600 hover:bg-neutral-700 dark:bg-neutral-900 dark:hover:bg-neutral-700 text-white font-medium py-2 px-4 rounded-md border border-neutral-500 transition-colors duration-300 text-center">Year 1 Term 2 Final</a>
        </div>
    </div>

    <script src="/script.min.js"></script>
</body>
</html>
