<div class="fixed inset-0 -z-10 bg-[url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRAQQ7ZjyZ5KNgxHPBBYi9WgCgBfJlS7KgFw9whV7-2EVHYJnOKFiUfhW6&s=10')] bg-cover bg-center bg-no-repeat"></div>
<!-- <div class="fixed inset-0 -z-10 bg-[url('https://picsum.photos/1600/900/?blur=5')] bg-cover bg-center bg-no-repeat"></div> -->
<div class="fixed inset-0 -z-10 backdrop-blur-3xl invert dark:invert-0 hue-rotate-180 dark:hue-rotate-0 bg-black/10 backdrop-brightness-[0.8] dark:backdrop-brightness-[0.5]"></div>
<!-- <div class="fixed inset-0 -z-10 backdrop-blur-3xl invert dark:invert-0 hue-rotate-180 dark:hue-rotate-0 bg-black/70 backdrop-brightness-[0.8] dark:backdrop-brightness-[0.3]"></div> -->
