    <div id="iframe-container" class="container m-4 px-4 mx-auto display-none">
        <h2 class="text-xl text-center font-bold mb-4 text-gray-800 dark:text-white flex flex-row items-center justify-center space-x-4">
            <span class="flex flex-row items-center space-x-4">
                <h2 class="text-xl font-bold text-gray-800 dark:text-white" id="iframe-title"></h2>
            </span>
            <a href="" target="_blank" rel="noopener noreferrer" onclick="download_file(true);" id="preview-btn" class="items-center space-x-2 text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-400 hover:cursor-pointer">
                <span class="material-symbols-outlined">
                preview
                </span>
            </a>
            <!-- <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#e3e3e3"><path d="M186.67-120q-27.5 0-47.09-19.58Q120-159.17 120-186.67v-586.66q0-27.5 19.58-47.09Q159.17-840 186.67-840h586.66q27.5 0 47.09 19.58Q840-800.83 840-773.33v586.66q0 27.5-19.58 47.09Q800.83-120 773.33-120H186.67Zm0-66.67h586.66v-506.66H186.67v506.66Zm149.16-140.26q-63.5-43.61-92.5-113.17 29-69.57 92.48-113.07 63.47-43.5 144.16-43.5 80.7 0 144.2 43.6 63.5 43.61 92.5 113.17-29 69.57-92.48 113.07-63.47 43.5-144.16 43.5-80.7 0-144.2-43.6Zm248.14-37.12Q631.27-391.43 658-440q-26.73-48.57-74.03-75.95-47.3-27.38-103.97-27.38t-103.97 27.38Q328.73-488.57 302-440q26.73 48.57 74.03 75.95 47.3 27.38 103.97 27.38t103.97-27.38ZM480-440Zm37.83 37.75q15.5-15.57 15.5-37.83 0-22.25-15.58-37.75-15.57-15.5-37.83-15.5-22.25 0-37.75 15.58-15.5 15.57-15.5 37.83 0 22.25 15.58 37.75 15.57 15.5 37.83 15.5 22.25 0 37.75-15.58Z"/></svg> -->
            <!-- <span class="material-symbols-outlined">
            download
            </span> -->
            <a href="" target="_blank" rel="noopener noreferrer" onclick="download_file();" id="download-btn" class="items-center space-x-2 text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-400 hover:cursor-pointer">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-8 h-8">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                    <polyline points="7 10 12 15 17 10"/>
                    <line x1="12" y1="15" x2="12" y2="3"/>
                </svg> -->
                <span class="material-symbols-outlined">
                download
                </span>
            </a>
        </h2>
        <iframe src="" frameborder="0" width="100%" height="" id="file-frame" class="hidden md:hidden border border-gray-300 dark:border-gray-300"></iframe>
    </div>