    <div id="iframe-container" class="container m-4 px-4 mx-auto display-none">
        <h2 class="text-xl text-center font-bold mb-4 text-gray-800 dark:text-white flex flex-row items-center justify-center space-x-4">
            <span class="flex flex-row items-center space-x-4">
                <h2 class="text-xl font-bold text-gray-800 dark:text-white" id="iframe-title"></h2>
            </span>
            <a href="" onclick="download_file();" id="download-btn" class="items-center space-x-2 text-black dark:text-white hover:text-blue-500 dark:hover:text-blue-400 hover:cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-8 h-8">
                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"/>
                    <polyline points="7 10 12 15 17 10"/>
                    <line x1="12" y1="15" x2="12" y2="3"/>
                </svg>
            </a>
        </h2>
        <iframe src="" frameborder="0" width="100%" height="" id="file-frame" class="hidden md:hidden border border-gray-300 dark:border-gray-300"></iframe>
    </div>