<script>
    function isIOS() {
        const userAgent = navigator.userAgent;
        const platform = navigator.platform;

        // Check for common iOS user agent strings
        if (/iPad|iPhone|iPod/.test(userAgent)) {
            return true;
        }

        // Specific check for iPad on iOS 13+ which might report as 'MacIntel' platform
        if (platform === 'MacIntel' && navigator.maxTouchPoints > 1) {
            return true;
        }

        return false;
    };

    function openFile(path) {
        var source = `kmu-src.pisc.cc/old-exam/${window.location.pathname.split('/')[2]}/${path}`
        const FrameElement = document.getElementById("FileFrame");
        FrameElement.src = "https://docs.google.com/viewerng/viewer?embedded=true&url=" + source;
        FrameElement.setAttribute("raw", "https://" + source);
        if (FrameElement.classList.contains("hidden")){
            FrameElement.classList.remove("hidden");
        }
        if (FrameElement.classList.contains("md:hidden")){
            FrameElement.classList.remove("md:hidden");
        }
        window.location.href = "#FileFrame";
        FrameElement.addEventListener("load", () => {
            window.scrollTo(0,document.body.scrollHeight);
        })

        const IFrameTitle = document.getElementById("iframe-title");
        IFrameTitle.textContent = path;

        const iframeContainer = document.getElementById('iframe-container');
        if (iframeContainer.classList.contains('display-none')) {
            iframeContainer.classList.remove('display-none');
        }
    };
</script>