<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Exam Year 1 Term 1 Final</title>
    {% include "head.html" %}
</head>
<body class="dark bg-neutral-50 dark:bg-neutral-950 min-h-screen">
    {% include "nav.html" %}
    <div class="flex items-center justify-center space-x-4 mt-16">
        <h1 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">Old Exam Year 1 Term 1 Final</h1>
    </div>

    {% include "oldexamtable.html" %}
    <br><br>
    {% include "oldexamdownload.html" %}
    <script src="https://src.kmu.pisc.cc/script.min.js"></script>
    <script>
        const SubjectsFull = [
            "Mathematics I",
            "Thai I",
            "Chemistry I",
            "Foundation English I",
            "Mechanics I",
            "Electrical Drawing I",
            "Electrical Materials and Calculation",
            "Electric Circuits I",
            "Health Education"
        ];
        const Subjects = [
            "Math",
            "Thai",
            "Chemistry",
            "English",
            "Physics",
            "Drawing",
            "Material",
            "Circuit",
            "Health"
        ];
    </script>
    {% include "oldexamscript.html" %}
</body>
</html>
