<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E25 Old Exam</title>
    {% include "head.html" %}
</head>
<body class="dark bg-gray-50 dark:bg-gray-950 min-h-screen">
    {% include "nav.html" %}
    <div class="flex items-center justify-center space-x-4 mt-16">
        <h1 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">Old Exam</h1>
    </div>

    <!-- <div class="flex justify-center space-x-4 md:space-x-8 mt-4 mx-auto">
        <a href="1-1-m" class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 1 Midterm</a>
        <a href="1-1-f" class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 1 Final</a>
        <a href="1-2-m" class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 2 Midterm</a>
        <a href="1-2-f" class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 2 Final</a>
        <a href="2-1-m" class="bg-teal-600 hover:bg-teal-700 dark:bg-teal-950 dark:hover:bg-teal-700 text-white font-medium py-2 px-4 rounded-md border border-teal-500 transition-colors duration-300 shadow-md shadow-teal-800 hover:shadow-teal-500">Year 2 Term 1 Midterm</a>
        <a href="2-1-f" class="bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 2 Term 1 Final</a>
    </div> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 divide-y md:divide-y-0 md:divide-x divide-zinc-500 max-w-4xl mx-auto px-4">
        <div class="grid grid-cols-2 gap-4 md:pe-4">
            <a href="1-1-m" class="flex items-center bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white text-center font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 1 Midterm</a>
            <a href="1-1-f" class="flex items-center bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white text-center font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 1 Final</a>
            <a href="1-2-m" class="flex items-center bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white text-center font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 2 Midterm</a>
            <a href="1-2-f" class="flex items-center bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white text-center font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 1 Term 2 Final</a>
        </div>

        <div class="grid grid-cols-2 gap-4 pt-4 md:pt-0 md:ps-4">
            <a href="2-1-m" class="flex items-center bg-teal-600 hover:bg-teal-700 dark:bg-teal-950 dark:hover:bg-teal-700 text-white text-center font-medium py-2 px-4 rounded-md border border-teal-500 transition-colors duration-300 shadow-md shadow-teal-800 hover:shadow-teal-500">Year 2 Term 1 Midterm</a>
            <a href="2-1-f" class="flex items-center bg-blue-600 hover:bg-blue-700 dark:bg-blue-950 dark:hover:bg-blue-700 text-white text-center font-medium py-2 px-4 rounded-md border border-blue-500 transition-colors duration-300 shadow-md shadow-blue-800 hover:shadow-blue-500">Year 2 Term 1 Final</a>
        </div>
    </div>

    <!-- <form id="clock-form" action="../clock" method="get">
        <button id="clock-page-button" class="bg-white dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 border border-gray-200 dark:border-gray-700 shadow-md w-12 h-12 rounded-lg flex items-center justify-center p-2 bottom-4 right-4 fixed">
            <svg class="transform transition-transform duration-300 justify-center" fill="none" stroke="currentColor" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg">
                <path
                id=""
                class=""
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M 6 1 A 1 1 0 0 0 6 11 A 1 1 0 0 0 6 1 Z M 6 3 L 6 6 L 8 7"
                ></path>
            </svg>
        </button>
    </form> -->

    <script src="https://src.kmu.pisc.cc/script.min.js"></script>
</body>
</html>
