<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="preconnect" href="https://challenges.cloudflare.com" />
    <script
        src="https://challenges.cloudflare.com/turnstile/v0/api.js"
        async
        defer
    ></script>
    {% include "head.html" %}
</head>
<body class="dark bg-white dark:bg-black min-h-screen">
    {% include "nav.html" %}
    <div class="flex items-center justify-center mt-4">
        <h1 class="text-2xl font-bold mb-4 text-gray-800 dark:text-white">Something went wrong, Please dms pisc_639 on discord instead.</h1>
    </div>
    {% include "bottom.html" %}
</body>
</html>