    <div class="container mx-auto mt-8 overflow-x-auto shadow-md shadow-gray-400 dark:shadow-gray-800 hover:shadow-gray-500 dark:hover:shadow-gray-950">
        <table id="subject-table" class="w-full border-collapse border border-gray-300 dark:border-gray-700">
            <thead>
                <tr class="border-x border border-gray-300 dark:border-gray-700 text-gray-900 dark:text-white">
                    <th class="px-5 py-3">Subject</th>
                    <th class="px-5 py-3">2010</th>
                    <th class="px-5 py-3">2011</th>
                    <th class="px-5 py-3">2012</th>
                    <th class="px-5 py-3">2013</th>
                    <th class="px-5 py-3">2014</th>
                    <th class="px-5 py-3">2015</th>
                    <th class="px-5 py-3">2016</th>
                    <th class="px-5 py-3">2017</th>
                    <th class="px-5 py-3">2018</th>
                    <th class="px-5 py-3">2019</th>
                    <th class="px-5 py-3">2020</th>
                    <th class="px-5 py-3">2021</th>
                    <th class="px-5 py-3">2022</th>
                    <th class="px-5 py-3">2023</th>
                    <th class="px-5 py-3">2024</th>
                    <th class="px-5 py-3">2025</th>
                </tr>
            </thead>
            <tbody id="table-body">
            </tbody>
        </table>
    </div>